body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;       /* Center vertically */
    height: 100vh;             /* Set the height to 100% of the viewport */
    background-color: #f0f0f0; /* Light background color for contrast */
}

.reset-container {
    width: 100%;
    max-width: 400px;         /* Set a max-width for better responsiveness */
    background-color: #00aaff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 30px;
}

.email-entry-container, .otp-entry-container, .reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-entry-container, .reset-password-container {
    display: none;
}


.instructions {
    width: 80%;
    margin: auto;
}

form label {
    display: block;
    width: 100%;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="submit"], input[type="password"], #cancel-button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #00aaff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#otp {
    width: 30%;
    text-align: center;
}

input[type="submit"]:hover, #cancel-button:hover {
    
    background-color: #e0e0e0;
}

p {
    margin: 0px;
}

#password, #confirm-password {
    margin-top: 0px;
}

#confirm-password-label {
    margin-top: 10px;
}






