body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.users-container {
    width: 100%;
    min-height: 100vh;
    background-color: #e3e3e3;
    padding: 0;
    padding-top: 89px;
    border-radius: 20px;
}

.users-container .settings-container {
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-container input, .settings-container button {
    width: 300px;
    height: 35px;
    margin: 0 5px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-container button {
    width: 150px;
    font-size: 15px;
    cursor: pointer;
  
    z-index: 1000;
}

.users-table {
    width: 95%;
    max-height: 83vh;
    margin-top: 10px;
    overflow: auto;
    margin: auto;
    margin-bottom: 140px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.users-table table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
    border-collapse: collapse;
    overflow: auto;
    padding: 10px;
}

.users-table th, td {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid #c2c2c2;
    font-family: Arial, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'roboto', sans-serif;
}

.users-table th {
    background-color: #d0d0d0;
}


.users-table tr:nth-child(odd) td {
    background-color: #e6e6e6;
}
.users-table tr:nth-child(even) td {
    background-color: #ffffff;
}

.sticky-row {
    position: sticky;
    top: -1px;
    background-color: #ffffff;
    color: #888;
}

.floating-viewUser-container {
    display: none;
    position: fixed;
    top: 53%;
    left: 50%;
    background-color: rgb(247, 247, 247);
    padding: 0;
    width: 80%;
    height: 20%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    transform: translate(-46%, -50%);
    border-radius: 10px;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 13px 10px;
    cursor: pointer;
    font-size: 20px;
}

.user-details {
    margin: 30px;
}

.user-details table {
    width: 100%;
    border-collapse: collapse;
}

.user-details table th {
    border: 1px solid #ccc;
    text-align: center;
    background-color: #d0d0d0;
    color: #6e6e6e;
    height: 40px;
}

.floating-editUser-container {
    display: none;
    position: fixed;
    top: 53%;
    left: 50%;
    background-color: rgb(247, 247, 247);
    padding: 0;
    width: 80%;
    height: 40%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    transform: translate(-46%, -50%);
    border-radius: 10px;
}

.user-details select {
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.add-minus-btn {
    border: none;
}

.add-minus-btn td {
    border: none;
}

.floating-editUser-container form {
    width: 100%;
    padding: 0;
    text-align: center;
}

#save-button {
    width: 15%;
    height: 35px;
    font-size: 20px;
    cursor: pointer;

}
button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    width: 100px;
}


.actions button {
    cursor: pointer;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.actions {
    width: 140px;
    padding: 0;
}

.actions .btn1 {
    background-color: #4CAF50;
    color: white;
}

.actions .btn2 {
    background-color: #45c0e2;
    color: white;
}

.actions .btn3 {
    background-color: #ffaa00;
    color: white;
}

.btn1:hover {
    background-color: #3c9140;
    scale: 1.1;
}
.btn2:hover {
    background-color: #38a6c4;
    scale: 1.1;
}

.floating-viewUser-container .form-title, .floating-editUser-container .form-title {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Webkit (Safari/Chrome) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html {
    scroll-behavior: smooth;
}

#addButton, #removeButton {
    width: 30px;
    height: 30px;
}
#removeButton {
    background-color: #ffaa00;
}
